@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&family=Patrick+Hand&family=Titan+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


:root{
    --body-primary: #dbdbdb;
    --body-secondary: #4d82cb;
    --body-box: #6991c86c;
    --body-detail: #ff6f0f;
    --body-detailb: #2d2f31;
    
}




html, body{
    background-color: var(--body-primary) ;
}

li, a{
    font-weight: 500;
    font-size: 16px;
    color: var(--body-color);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 24px 10px;
    background-color: var(--body-secondary);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

header a {
    color: #FFFFFF;
}

.logo a{
    cursor: pointer;
}

.navLinks{
    list-style: none ;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a, a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover, a:hover{
    color:var(--body-primary);  
    
}

hr {
    margin-top:-12px ;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, white, transparent);
}


.container {
    height: 400px;
    margin: 40px 20%;
    background-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
   
}

.userBox{
      height: 50px;
      margin: 20px;
      padding-top: 20px;
      color:rgb(95, 95, 95);
}

.postBox{
    height: 200px;
    padding: 30px;
    border-top: solid 2px rgb(189, 189, 189);
    border-bottom: solid 2px rgb(190, 190, 190);
    overflow-y: auto;

}

.commentBox{
    height: 25%;
    overflow-y: scroll;
    padding: 30px;

}

.container hr {
   
    border: 0;
    height: 1px;
    background: rgb(219, 219, 219);
}

/* album */


.gridContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: start;
  margin-top: 30px;

}

.gridItem {
  flex: 0 0 auto;
  height: 200px;
  width: 200px;
  background-color: #c0c0c0;
  margin: 10px;
  border-radius: 10px;
  transition: 0.8s;
  box-shadow: 5px 5px 10px rgba(45, 46, 47, 0.705);


}

.gridItem:hover {
  background-color:var(--body-box);

  }

.titleAlbum{
    padding: 30px;
    color: black;
}


/* photos */


img {
    height: 200px;
    border-radius: 25px ;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    
}

button{
    height: 40px;
    width: 80px;
    background-color:var(--body-box);
    color:var(--body-primary);
    border: none;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 10px;
    transition: 0.8s;

}

button:hover{
    background-color: #4d82cb;    
}

h4{
    padding-bottom: 20px;
}

@keyframes bounce {
    0%,
    100%{
        transform: translateY(0);
    }
    
    50%{
        transform: translateY(-10px);
    }
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    }
    ::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 9px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
    }
    ::-webkit-scrollbar-track{
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }



